<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
        .hidden{
            display: none;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 200px;
        }

        li{
            clear: both;
        }

        li button{
            -webkit-appearance: none;
            background: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <form id="form">
        <input type="text" name="description" id="description">
        <input type="submit" value="Create">
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
        {% for d in data %}
        <li>
            <input class='checkbox-checked' data-id="{{ d.id }}" type="checkbox" name="completed" id="completed" {% if d.completed %} checked {% endif %}>
            {{d.description}}
            <button class="delete-button" data-id="{{ d.id }}">&cross;</button>
        </li>
        {% endfor %}
    </ul>
</body>
<script>
    const checkboxes = document.querySelectorAll('.checkbox-checked');
    for(let i=0;i<checkboxes.length;i++){
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e){
            const newCompleted = e.target.checked;
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId + '/set-completed',{
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(){
                document.getElementById('error').className = 'hidden';
            }).catch(function(){
                document.getElementById('error').className = '';
        })
        }
    }
    document.getElementById('form').onsubmit = function(e){
        e.preventDefault();
        fetch('/todos/create',{
            method: 'POST',
            body: JSON.stringify({
                'description': document.getElementById('description').value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function(response){
            return response.json();
        }).then(function(jsonResponse){
            liItem = document.createElement('LI');
            liItem.innerHTML = jsonResponse['description']
            document.getElementById('todos').appendChild(liItem);
            document.getElementById('error').className = 'hidden';
        }).catch(function(){
            document.getElementById('error').className = '';
        })
    }
    const deleteBtns = document.querySelectorAll('.delete-button');
    for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function(e) {
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId, {
                method: 'DELETE'
            });
        }
    }
</script>
</html>